<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


</head>
<body>
<% include navbar %>
<div class="container">
    <div class="row">
        <div class="text-danger col-sm-12 text-center">
            <h1><%= newMovieData.title %></h1>
            <p><%= newMovieData.overview %></p>
            <img src="<%= imageBaseUrl + newMovieData.poster_path%>" >

            <% for(let i = 0; i < 6; i++){ %>
            <p><%= newCastData.cast[i].name %></p>
            <% } %>


        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <form id="search-form" class="form-inline" action="/search" method="post">
                <input type="text" placeholder="Movie Title" name="searchString" />
                <button type="submit" class="btn btn-primary">
                    Search!
                </button>

            </form>

        </div>

        <div class="col-sm-12 movies">
            <% for(let i = 0; i < newMovieData.length; i++){ %>
            <div class="col-sm-3">
                <a href="/movie/<%=newMovieData[i].id%>"><img src="<%= imageBaseUrl + newMovieData[i].poster_path%>" ></a>
            </div>

            <% } %>
        </div>

    </div>
</div>
</body>
</html>